*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo {
    height: 50px;
    /* width: 10px; */
}
.logo {
    height: 60px;
    width: 140px;
}
.address {
    color: white;
    /* height: 50px; */
    
}
.address-1, .nav-orders span,.nav-account span {
    color: #cccccc;
}
.address-2{
    display: flex;
}
.address-3{
    padding-left: 3px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.search-logo{
    background-color: #febd68;
    color: black;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.select-search{
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-search{
    display: flex;
    height: 40px;
    width: 800px;
    /* font-size: 1rem; */
}
.search-bar{
    width: 100%;
}
.lanuage-input{
    display: flex;
    /* justify-content: center; */
}
.flag-logo{
    color: white;
    padding-left: 45%;
}
.nav-account, .nav-orders{
    color: white;
    margin-left: 30px;
}
.nav-account span, .nav-orders span{
    font-size: 0.8rem;
}
.nav-account p, .nav-orders p{
    font-size: 1.11rem;
}
.cart-logo{
    color: white;
    display: flex;
    font-size: 1.6rem;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.cart-logo p{
    font-size: 1rem;
}
/* .banner{ */
    /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/OnePlus/Flagship/115G/19Aug/D66357764_WLD_OnePlus_Salami_NewLaunch_DesktopTallHero_3000x1200._CB598553099_.jpg); */
    /* width: 100%; */
    /* background-image: url(hero_image.jpg);
    height: 600px;
    background-size: cover; */
/* } */
.pannel{
    display: flex;
    height: 39px;
    background-color: #222f3d;
    align-items: center;
    padding-left: 20px;
}
.pannel-all a,.pannel-options a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    
}
.banner-msg{
    background-color:white;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 70%;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 40px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
}
.banner-msg span a{
    text-decoration: none;
    /* vertical-align: middle;
    line-height: 40px; */
}

/* shopping center */

.shop-section{
    background-color: #4d6a65;
}

.shop-center1, .shop-center2{
    /* border: 1px solid black; */
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}
.box{
    width: 20%;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    
}
.box img{
    width: 100%;
    height: 75%;
}
.box a{
    text-decoration: none;
    
}

/* footer  */
footer{
    margin-top: 15px;
}
.footer-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-pannel2{
    background-color: #222f3d;
    color: white;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
}
.footer-pannel2 ul{
    margin-top: 30px;
}
.footer-pannel2 ul p{
    font-size: 18px;
    font-weight: 600;
}

.footer-pannel2 ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 13px;
    margin-top: 12px;
}

.footer-pannel3{
    height: 100px;
    background-color: #222f3d;
    border-top: 1px solid rgb(103, 103, 103);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-pannel3 img{
    height: 70px

}

.footer-pannel4{
    background-color: #0f1111;
    height: 80px;
    color: white;
    /* display: flex;
    justify-content: center; */
}
.footer-pannel4 a{
    color: white;
    text-decoration: none;
}
.conditions, .copyright{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
    padding-top: 15px;
    font-size: 14px;
}